body {
    font-family: monospace;
    margin: 0;
}

header {
    background-color: #333;
    overflow: hidden;
}

header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

header a#logo:hover {
    background-color: #5ab2dc;
}

header a#logo {
    background-color: #4383a1;
    color: white;
}

.dropdownButton {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: inherit;
    border: none;
}

.dropdown:hover .dropdownButton {
    background-color: #ddd;
    color: black;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #4c4c4c;
    z-index: 1;
    min-width: 150px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    float: none;
    text-decoration: none;
    display: block;
}

header input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

main {
    display: flex;
    height: calc(100vh - 56px);
}

#trace {
    flex: 0.7;
    padding: 20px;
    background-color: #1e1f22;
    color: #cbcbcbff;
    overflow-y: auto;
    font-size: 18px;
}

#inspector {
    flex: 0.3;
    padding: 10px;
    background-color: #4c4b4b;
    border-left: 1px solid #a5a5a5;
    color: #bababa;
    overflow-y: auto;
}

button.bi {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
}

button.bi:hover {
    color: #4383a1;
}

#objectDescription {
    border: 1px solid #1e1f22;
    background-color: #2b2d30;
    padding: 10px;
    border-radius: 8px;
}

#objectFields {
    border: 1px solid #1e1f22;
    background-color: #2b2d30;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

#objectFields td {
    padding: 8px 10px;
    border-bottom: 1px solid #bababa;
}

#objectFields tr:last-child td {
    border-bottom: none;
}

#objectFields td:first-child {
    font-weight: bold;
}

.inspector_tab {
    display: flex;
    border-bottom: 2px solid #444; /* Darker border */
    margin-bottom: 10px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.tab_button {
    background-color: #2c2c2c; /* Dark button background */
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    color: #cfcfcf; /* Light text color */
    border-bottom: 2px solid transparent;
    flex: 1;
    max-width: 200px;
}

.tab_button:hover {
    background-color: #444; /* Lighter hover effect */
}

.tab_button.active {
    background-color: #4383a1; /* Slightly lighter for active */
    color: #ffffff; /* White text for active */
    font-weight: bold;
}

.tab_button:hover {
    background-color: #5ab2dc;
}

.inspectorContent {
    display: none;
    padding: 20px;
    border: 1px solid #444; /* Darker border for content */
    background-color: #2c2c2c; /* Dark content background */
    color: #cfcfcf; /* Light text color */
}
